/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
#outer-box{
  background-color: rgb(116, 34, 192);
 
}

.white-text{
 
  color:white;
}
.inner-box{
  background-color: rgb(237, 19, 19);
}
